<section class="modal">
    <div class="modal-wrapper">
        <div class="modal-inputs">
            <div class="modal-necessary">
                <select name="doctor" class="doctor-name" id="">
                    <option value="" disabled selected hidden>Choose doctor</option>
                    <option value="dentist">Dentist</option>
                    <option value="therapist">Therapist</option>
                    <option value="cardiologist">Cardiologist</option>
                </select>

                <input class="modal-goal modal-input" type="text" placeholder="Goal of visit">
                <input class="modal-shortdescription modal-input" type="text" placeholder="Short description of visit(not necessary)">
                <input class="modal-name modal-input" type="text" placeholder="Name Surname">
                <select class="modal-urgency modal-input" name="urgency" id="urgency-dropdown">
                    <option value="" disabled selected hidden>Urgency</option>
                    <option value="Not that urgent">Small urgency</option>
                    <option value="Pretty urgent">Medium urgency</option>
                    <option value="Very urgent">Big urgency</option>
                </select>
            </div>

            <div class="modal-unnecessary">
                <div class="modal-cardiologist">
                    <input class="modal-pressure modal-input" type="text" placeholder="Blood pressure">
                    <input class="modal-index modal-input" type="text" placeholder="Body mass index">
                    <input class="modal-diseases modal-input" type="text"
                        placeholder="Transferred diseases of the cardiovascular system">
                </div>
                <input class="modal-age modal-input" type="text" placeholder="Age">

                <div class="modal-dentist">
                    <input class="modal-last-visit modal-input" type="text" placeholder="Last visit date">
                </div>


            </div>
        </div>

        <div class="modal-btns">
            <button class="confirm-btn">Create visit</button>
            <button class="cancel-btn">Cancel</button>
        </div>


    </div>

</section>